In [464]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np
import joblib

data = pd.read_csv('csfail_database.csv')
X = data.drop(columns=['crashedAt'])
y = data['crashedAt']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
y_train_binned = np.digitize(y_train, bins=[1.2])
y_test_binned = np.digitize(y_test, bins=[1.2])

model = DecisionTreeRegressor()
model.fit(X_train, y_train_binned)

joblib.dump(model, 'crash_geusser.joblib')

# prediction = model.predict(X_test)
# score = accuracy_score(y_test_binned, prediction)
# score

In [181]:
import pandas as pd 
data = pd.read_csv('csfail_database.csv')
data

       crashedAt  totalBankUsd  usersCount  itemsCount
0           1.01        217.93          75          85
1           1.80        323.69         105         122
2           5.33        315.70          79          94
3           1.11        297.76          80          89
4           1.03        220.58          87          99
...          ...           ...         ...         ...
11478       2.52        136.11          43          52
11479       4.96        150.83          30          36
11480       1.05        167.57          35          37
11481       3.15        178.23          53          73
11482       1.26        130.46          46          52

[11483 rows x 4 columns]